{% extends "base.html" %}

{% block content %}

<div class="row">
   <div id="{{ ids.ID_1 }}" class="col-sm-6 code-pane medium-margin"></div>
   <div id="{{ ids.ID_2 }}" class="col-sm-6 code-pane medium-margin"></div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    var pagelets = {{ pagelets|safe }};
    loadPagelets(pagelets);
    nick = "{{ nick }}";
    user_editor.on('change', function(e) {
        console.log(e['data']);
        var payload = {
            'nick': nick,
            'data': JSON.stringify(e['data']),
        }

        socket.emit('input-code-stream', payload);
    });

    $("#link-tab-" + nick).parent().remove();
    $('#link-tab-' + nick).click(function() {
        $('#link-tab-' + nick).removeClass("bold");
    });

});
</script>
{% endblock %}
