{% extends "base.html" %}

{% block content %}
<div class="row">
   <div id="{{ ids.ID_1 }}" class="col-sm-6 code-pane medium-margin"></div>
   <div id="{{ ids.ID_2 }}" class="col-sm-6 code-pane medium-margin"></div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    var pagelets = {{ pagelets|safe }};
    loadPagelets(pagelets);

    $('#user-code').bind('keydown', function(data) {
        socket.emit('input-code-stream', String.fromCharCode(data.keyCode));
    });

    $("#tabs").tabs()

});
</script>
{% endblock %}