body {
    background: url('../images/login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    border-radius: 0;
}

.full-height {
    height: 100% !important;
}

.half-height {
    height: 50% !important;

}.full-width {
    width: 100% !important;
}

.half-width {
    width: 50% !important;
}

.monospace {
    font-family: monospace;
    font-size: 14px;
}

.no-margin {
    margin: 0 !important;
}

.small-margin {
    margin-top: 10px;
}

.medium-margin {
    margin-top: 25px;
}

.large-margin {
    margin-top: 50px;
}

.center {
    float: none;
    margin: 0 auto;
}

.ui-tabs {
    padding: 10px;
    height: 100%;
}


.login-form {
    padding-top: 50px;
}

.align-center {
    text-align: center;
}

.white-font {
    color: rgb(241, 241, 241);
}

.no-padding {
    padding: 0 !important;
}

.no-border {
    border: 0 !important;
}

.large {
    font-size: 50px;
}

.big {
    font-size: 40px;
}

.bold {
    font-weight: bold !important;
}

.head {
    color:  rgb(241, 241, 241);
    font-size: 50px;
}

.head:hover {
    color:  rgb(241, 241, 241);
    text-decoration: none;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.ace-editor {
    margin: 0;
    border:0;
}

.ace-monokai {
    background-color: #272822 !important;
}

.ui-widget-content {
    background: none;
}

.ui-state-default {
    background: #CCCCCC !important;
    border-radius: 0 !important;
}
